.hourly-weather {
  text-align: center;
  list-style-type: none;
  padding: 40px 0px 0px;
  line-height: 30px;
  margin: auto;
  font-family: monospace;
  font-size: 14px;
  color: #393e46;
  display: flex;
}
