.searchTool .search {
  text-align: center;
  padding: 40px;
  position: relative;
}
.searchTool .search-button {
  padding: 0px;
  position: relative;
  text-align: left;
}

input {
  background-color: #e7f0fd;
  border-radius: 4px;
  opacity: 50%;
  width: 70px;
}

.btn-group-toggle {
  position: relative;
  opacity: 50%;
  margin-top: 0px;
  margin-bottom: 22px;
}

.WeatherDescription {
  font-family: "Inconsolata", monospace;
}

.City {
  font-size: 70px;
  margin: 0px;
  font-family: "Inconsolata", monospace;
}

.LastUpdated {
  font-size: 15px;
  font-family: "Inconsolata", monospace;
}

.MainIcon {
  text-align: center;
  padding: 0px 0px 20px;
  display: block;
  margin: auto;
}

.CurrentTemperature {
  font-size: 100px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  color: #393e46;
}

.HighLowTemp {
  font-size: 20px;
  margin-top: -50px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  color: #393e46;
}

.WeatherDetails {
  padding: 30px 0;
  line-height: 45px;
  margin: auto;
  font-size: 15px;
  font-family: "Inconsolata", monospace;
  display: block;
  color: #393e46;
  text-align: center;
}

.hourly-weather {
  text-align: center;
  list-style-type: none;
  padding: 40px 0px 0px;
  line-height: 30px;
  margin: auto;
  font-family: monospace;
  font-size: 14px;
  color: #393e46;
  display: flex;
}
